[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
requests = "*"
flask-cors = "*"
bs4 = "*"
python-telegram-bot = "*"
pyopenssl = "*"
uwsgi = "*"

[dev-packages]

[requires]
python_version = "3.7"
