name: Build Image

on:
    push:
        branches:
            - 'main'

jobs:
  cicd:
    runs-on: ubuntu-latest
    steps:
    -
        name: Checkout
        uses: actions/checkout@v2
    -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
    -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}
    -
        name: Build Container Image
        uses: docker/build-push-action@v4
        with:
            context: .
            file: ./Dockerfile
            platforms: linux/amd64
            push: true
            tags: geunsam2/korailbot:latest

    - 
        name: SSH Remote Commands
        uses: appleboy/ssh-action@v0.1.4        
        with:
            host: opc.modutech.win         
            username: ${{ secrets.SSH_USERNAME }}
            password: ${{ secrets.SSH_PASSWORD }}
            port: 22
            timeout: 40s  # 30초 기본        
            script: |
                docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}
                docker pull geunsam2/korailbot:latest
                docker rm -f korailreserve
                docker run -d \
                    -p 8080:8080 \
                    --restart always \
                    -e USERID='${{ secrets.ADMIN_USERID }}'
                    -e USERPW='${{ secrets.ADMIN_PASSWD}}'
                    -e BOTTOKEN='${{ secrets.TELEGRAM_BOTTOKEN }}'
                    --name korailreserve \
                    geunsam2/korailbot:latest